<div id="cube-<%= game.id %>" class="gameCube" gameid="<%= game.id %>">
  <div>
    <span class="game-name"><%= game.name %></span>
    <p style="float:right">
      <div class="button reserve" style="<%= @current_user.has_reservation_for?(game) ? 'display:none' : '' %>">
        Reserve
      </div>
      <div class="button cancel" style="<%= @current_user.has_reservation_for?(game) ? '' : 'display:none' %>">
        Cancel
      </div>
    </p>
    <p class="spots-remaining">
      <%= game.max_players-game.seats.size %> spots available
    </p>
  </div>
  <div class="avatars">
    <ul>
      <% game.seats.each do |seat| %>
      <li>
        <%= seat.user.name %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<hr class="shadow" />
