<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TITLE!!!!!</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery', 'mustache', 'jquery.mustache'%>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      mustachios = {};
      generated_templates = {};
      $.each(['avatarList', 'avatar'], function(i,name){
        $.ajax({ 
          url:"/mustachios/"+name+".html", 
          method: "get",
          async: false,
          success: function(template) {
            mustachios[name] = template;
          }
        });
      });
      $.each(['game_cube'], function(i,name){
        $.ajax({ 
          url:"/generated_templates/"+name+".html", 
          method: "get",
          async: false,
          success: function(template) {
            generated_templates[name] = template;
          }
        });
      });
      currentUser = <%= @current_user.attributes.to_json %>;
    });
    
  </script>
  <%= javascript_include_tag 'gameCube'%>
</head>
<body>

<p style="color: green"><%= notice %></p>

<%= yield %>
</body>
</html>
